Artifacts/Resources/CCSBankEarnings.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ccsBanksEarningInfoVoes">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ccsBanksEarningInfoVo" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="earningBalance"/>
              <xs:element type="xs:string" name="particulars"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>