Artifacts/Resources/CCSOverdraftOD.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ccsOverdraftInfoVoes">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ccsOverdraftInfoVo" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="accountClosingBalance"/>
              <xs:element type="xs:string" name="accountOpeningBalance"/>
              <xs:element type="xs:string" name="averageBalance"/>
              <xs:element type="xs:string" name="creditSummation"/>
              <xs:element type="xs:string" name="debitSummation"/>
              <xs:element type="xs:string" name="turnOver"/>
              <xs:element type="xs:int" name="year"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>