Artifacts/Resources/UserAccountInfo.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="customerInfoVoes">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="customerInfoVo" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="accountName"/>
              <xs:element type="xs:string" name="accountNumber"/>
              <xs:element type="xs:string" name="accountOpenDate"/>
              <xs:element type="xs:string" name="accountType"/>
	      <xs:element type="xs:string" name="branchCode"/>
              <xs:element type="xs:string" name="branchName"/>
              <xs:element type="xs:float" name="currBalance"/>
              <xs:element type="xs:string" name="customerAddress"/>
              <xs:element type="xs:int" name="customerId"/>
              <xs:element type="xs:string" name="dob"/>
              <xs:element type="xs:string" name="factoryAddress"/>
              <xs:element type="xs:int" name="mobile"/>
              <xs:element type="xs:string" name="registerAddress"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>